body {
    margin: 0px;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.hide-height, .hide-width{ display: grid; transition: all 0.5s; }
.hide-height > div, .hide-width > div{ overflow: hidden; }

.hide-height{ grid-template-rows: 0fr; }
.hide-width{ grid-template-columns: 0fr; }

.hide-height.show{ grid-template-rows: 1fr; }
.hide-width.show{ grid-template-columns: 1fr; }
